* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
}

.logo {
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 100%;
    padding-left: 25px;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    padding-right: 25px;

}

.nav-links li {
    padding-left: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
    font-style: bold;
}

.burger {
    display: none;
    padding-right: 25px;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(230, 225, 225);
    padding-left: 25px;
    padding-right: 25px;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}